body{
    background: linear-gradient(to left, lightblue,lightgreen);
}



.loginForm{
    margin:auto;
    margin-top: 50px;
    background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:250px;
  height: auto;
  padding-bottom: 10px;
}



footer{
    position:relative;
    text-align:center ;
    justify-content:end;
    margin-top: 300px;

}