body{
    background: linear-gradient(to left, lightblue,lightgreen);
}



.loginForm{
    margin:auto;
    margin-top: 50px;
    background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:300px;
  height: 350px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px grey;
}

hr{
    border: 1px solid gray;
    width:250px;
    margin-top: -10px;
}



footer{
    position:relative;
    display: grid;
    text-align:center ;
    justify-content:center;
    margin-top: 50px;

}

.inputs{
    width:auto;
    height:auto;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: space-around;
    gap:1px;
  text-align: start;
  color: gray;
   
}

input{
    border:none;
    border-bottom: 2px solid gray;
    width:220px;
    height:40px;
}


button{
    width:220px;
    height:35px;
    border-radius: 5px;
    border:2px solid gray;
    color: rgb(82, 81, 81);
    cursor: pointer;
}